.container{
    padding-top: 40px;
    position: relative;
    z-index: 1;
    background-color: white;
}

.cardContainer { 
    height: 150px;
    position: relative;
    padding: 0;
    -webkit-perspective: 800px;
}

.card {
    width: 100px;
    height: 100px;
    z-index: 99999;
    position: relative;
    cursor: pointer;
    background: #25313c;
    -webkit-transform-style: preserve-3d;
    transition: transform 1s;
    -webkit-transition: -webkit-transform 1s;
    -webkit-transform-origin: center center;
}

.front, .back {
    /*display: block;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px; 
    border: 1px solid white;
    -webkit-backface-visibility: hidden;*/
}

.front {
    background: #25313c;
}
.back {
    background: #fbfafa;
    -webkit-transform: rotateY( 180deg );
}

.card__title{
    font-size: 1.1em;
    text-align:center;
}

.card__img{
  width: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.flipped {
    -webkit-transform: rotateY( 180deg );
}



.title_screen{
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36,82,105,.2);
}

.title_screen-hidden{
    z-index: -99999;
}


.welcome_screen{
    background-color: #31b0d5;
    transition: transform 2s;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.welcome_screen-hidden{
    transform: translateY(-100%);
}

.ready_screen, .level_up_screen{
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}


.level_up_screen{}




.info_bar, .grid_container{
    display: block;
    width: 100%;
}



.info_bar{}

.grid_container{
    background-color: #3c3c3c;
}
